.title-glitch {
    -fx-font-family: "Impact";
    -fx-effect: dropshadow(three-pass-box, #8B0D0D, 0, 0,-8, 3);
    -fx-letter-spacing: 5px;
}

.neon-text-red {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #8B0D0D, 15, 0.6, 0, 0);
}

.edgy-input {
    -fx-background-color: rgba(31, 30, 78, 0.1);
    -fx-border-color: #1F1E4E;
    -fx-border-width: 0 0 0 3; /* Only left thick border */
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-font-family: "Monospaced";
}

.edgy-input:focused {
    -fx-background-color: rgba(139, 13, 13, 0.05);
    -fx-border-color: #8B0D0D;
}

.edgy-button {
    -fx-background-color: #8B0D0D;
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-shape: "M 0 50 L 50 0 L 400 0 L 450 50 L 450 450 L 400 500 L 50 500 L 0 450 Z";
    -fx-cursor: hand;
}

.edgy-button:hover {
    -fx-background-color: #ff0000;
    -fx-effect: dropshadow(three-pass-box, #ff0000, 15, 0.5, 0, 0);
}

.edgy-link {
    -fx-text-fill: #5c7cfa;
    -fx-font-family: "Monospaced";
    -fx-font-size: 11px;
}

.resend-link-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #555588;
    -fx-font-size: 15px;
    -fx-font-family: "IMPACT";
    -fx-cursor: hand;
    -fx-border-color: transparent transparent #555588 transparent;
    -fx-border-width: 0 0 1 0;
}

.resend-link-btn:hover {
    -fx-text-fill: #5C7CFA;
    -fx-border-color: #5C7CFA;
}

.resend-link-btn:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: default;
    -fx-border-color: transparent;
}